
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- START - MetaTags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>پنل کاربری - سیستم اتوماسیون اداری تحت وب</title>
    <!-- END - MetaTags -->
    <!-- START - stylesheets -->
    <link href="~/Panel/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Panel/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Panel/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="~/Panel/assets/css/components.css" rel="stylesheet" type="text/css">



</head>
<body class="navbar-top">
    <!-- START - Main Navibar -->
    <div class="navbar navbar-fixed-top" style="background-color:#d9dbdc;">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>

            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile" style="color:black;"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle" style="color:black;"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>

        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile" style="background-color:#d9dbdc;">
            <ul class="nav navbar-nav">
                <li>
                    <a class="sidebar-control sidebar-main-toggle hidden-xs" style="color:black;"><i class="icon-paragraph-justify3"></i></a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown dropdown-user">
                    <a class="dropdown-toggle" data-toggle="dropdown" style="color:black;">

                        <span>امکانات شخصی</span>
                        <i class="caret"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#"><i class="icon-user-plus"></i>پروفایل من</a></li>
                        <li>
                            <a href="#">
                                <span class="badge badge-info pull-right">3</span> <i class="icon-comment-discussion"></i>آخرین پیام ها
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="icon-switch2"></i> خروج از سیستم</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- END - Main Navibar -->
    <!-- START - Main Content -->
    <div class="page-container">

        <!-- START - Page Content -->
        <div class="page-content">

            <!-- START - Main Sidebar -->
            <div class="sidebar sidebar-main" style="background-color:#d4d1d1;">
                <div class="sidebar-content">

                    <!-- START - User menu -->
                    <div class="sidebar-user">
                        <div class="category-content">
                            <div class="media">
                                <a href="#" class="media-left">
                                </a>
                                <div class="media-body">
                                    <span class="media-heading text-semibold">سعید بحرانی فرد</span>
                                    <div class="text-size-mini text-muted">
                                        <i class="icon-pin text-size-small"></i> &nbsp;پنل کاربران ( مسئول مالی )
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END - User menu -->
                    <!-- START - Main navigation -->
                    <div class="sidebar-category sidebar-category-visible">
                        <div class="category-content no-padding">

                            <!-- START - Item Navigation -->
                            <ul class="navigation navigation-main" style="color:black;">

                                <!-- START - Item Navigation Header -->
                                <li class="navigation-header">
                                    <span> داشبورد اختصاصی کاربران</span> <i class="icon-menu"
                                                                             title="صفحه اصلی"></i>
                                </li>
                                <li class="active">
                                    <a href="index.html">
                                        <i class="icon-home4"></i>
                                        <span>پیشخوان</span>
                                    </a>
                                </li>
                                <li>
                                </li>
                                <!-- END - Item Navigation Header -->
                                <!-- START - مطالب و محتوا -->
                                <li>
                                    <a href="#"><i class="icon-bookmark"></i><span>کارتابل</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-book2"></i> <span>همه نامه های وارده</span></a>

                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-book"></i> <span>نامه های خوانده شده</span></a>

                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-envelop"></i> <span>نامه های خوانده نشده</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-forrst"></i> <span>نامه های اقدام فوری</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-forrst2"></i> <span>نامه های محرمانه</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-notebook"></i> <span>یادداشت های رسیده</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-book3"></i> <span>نامه های ارجاع داده شده</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-reminder"></i> <span>نمایش یادآوری ها</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#"><i class="icon-forward"></i><span>بازیافت</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-forward2"></i><span>نامه های ارسالی</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-grab"></i><span>پیگیری</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-notebook"></i><span>یادداشت های ارسالی</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-repo-forked"></i><span>نامه های ارجاع داده شده</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- END - مطالب و محتوا -->
                                <!-- START - اسناد، پرونده ها و پروژه ها -->
                                <li>
                                    <a href="#"><i class="icon-forward"></i><span>عملیات</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-printer"></i><span>ایجاد نامه</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-notebook"></i><span>ایجاد یادداشت</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-reminder"></i><span>ثبت یادآوری</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-bubble7"></i><span>پیش نویس</span></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="icon-codepen"></i><span>ثبت اسناد خارجه</span></a>
                                        </li>
                                    </ul>
                                </li>

                                <!-- END - اسناد، پرونده ها و پروژه ها -->
                                <!-- START - مدیریت مالی -->
                                <li>
                                    <a href="#"><i class="icon-paperplane"></i><span>خبرنامه</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-new"></i><span>اخبار و اطلاعیه ها</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END - مدیریت مالی -->
                                <!-- START - مدیریت کاربران -->
                                <li>
                                    <a href="#"><i class="icon-forward"></i><span>ارزشیابی پرسنل</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-point-up"></i><span>ثبت کارکرد روزانه</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-chart"></i><span>نمایش کارکرد پرسنل</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END - مدیریت کاربران -->
                                <!-- START - پیکربندی سیستم -->
                                <li>
                                    <a href="#"><i class="icon-shrink5"></i><span>تنظیمات</span></a>

                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-key"></i><span>تغییر رمز عبور</span></a>
                                        </li>

                                        <li>
                                            <a href="#"><i class="icon-user"></i><span>پروفایل</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- END - پیکربندی سیستم -->

                            </ul>
                            <!-- END - Item Navigation -->

                        </div>
                    </div>
                    <!-- END - Main navigation -->

                </div>
            </div>
            <!-- END - Main Sidebar -->
            <!-- START - Main Content -->
            <div class="content-wrapper">

                <!-- START - View header -->
                <div class="page-header">
                    <div class="page-header-content">
                        <div style="padding-top:10px;">
                            <!--<h4>
                                <i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">خانه</span>
                                - داشبورد
                            </h4>-->
                        </div>
                    </div>

                    <div class="breadcrumb-line">
                        <ul class="breadcrumb">
                            <li><a href="index.html"><i class="icon-home2 position-left"></i> صفحه اصلی</a></li>
                            <li class="active">پیشخوان</li>
                        </ul>

                        <ul class="breadcrumb-elements">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-gear position-left"></i>
                                    تاریخچه ورود به سیستم
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#"><i class="icon-eye8"></i> ورود امروز: 7:31 صبح</a></li>
                                    <li><a href="#"><i class="icon-eye8"></i> ورود دیروز: 7:39 صبح</a></li>
                                    <li><a href="#"><i class="icon-eye8"></i> خروج دیروز: 16:35 عصر</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#"><i class="icon-calendar3"></i>تاریخچه ورود به سیستم</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- <ul class="breadcrumb-elements">
                            <li class="dropdown">
                                <a lass="dropdown-toggle">
                                    <div class="text-size-small badgeDate bg-abiyeKhooboo-600">امروز :
                                        سه شنبه 12، تیر، 1398</div>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a lass="dropdown-toggle">
                                    <span class="heading-text badgeTime bg-abiyeKhooboo-600"> آخرین ورود به پنل مدیریت :
                                        07:35 صبح </span>
                                </a>
                            </li>
                        </ul> -->
                    </div>
                </div>
                <!-- END - View header -->
                <!-- Content area -->
                <div class="content">

                    <!-- START - View Content -->
                    <div class="row">
                        @RenderBody()
                    </div>
                    <!-- END - View Content -->


                </div>
                <!-- /content area -->
                <!-- Footer -->

                <div class="breadcrumb-line" style="background-color:#e0dbdb; border-top:1px solid gray; text-align:center; bottom:1px !important; position:fixed; width:100%;">
                    <div class="col-md-offset-2 col-md-6">
                        <span style="color: black;"> سیستم اتوماسیون اداری تحت وب - کلیه حقوق مادی و معنوی این نرم افزار محفوظ می باشد </span>
                    </div>
                </div>

                <!-- /footer -->
            </div>
            <!-- END - Main Content -->

        </div>
        <!-- END - Page Content -->

    </div>
    <!-- END - Main Content -->
    <!--Top Loading-->
    <script type="text/javascript" src="~/Panel/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="~/Panel/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="~/Panel/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Panel/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Panel/assets/js/core/app.js"></script>
    @RenderSection("Scripts", required: false)
    <!-- END - theme JS files -->
</body>

</html>